# List and its default functions

In [10]:
lst=["Pratik", "Chiddya", "Rahil", "funtru", "Akanksha", "Mayuri", "Diksha", 1, 2, 4 , 6, 6, 7, 5, 1, 2]

In [11]:
lst

['Pratik',
 'Chiddya',
 'Rahil',
 'funtru',
 'Akanksha',
 'Mayuri',
 'Diksha',
 1,
 2,
 4,
 6,
 6,
 7,
 5,
 1,
 2]

In [12]:
lst[0:-1]

['Pratik',
 'Chiddya',
 'Rahil',
 'funtru',
 'Akanksha',
 'Mayuri',
 'Diksha',
 1,
 2,
 4,
 6,
 6,
 7,
 5,
 1]

In [13]:
lst.pop()

2

In [14]:
lst.append("Archana")

In [15]:
lst

['Pratik',
 'Chiddya',
 'Rahil',
 'funtru',
 'Akanksha',
 'Mayuri',
 'Diksha',
 1,
 2,
 4,
 6,
 6,
 7,
 5,
 1,
 'Archana']

In [17]:
lst.count(1)

2

In [21]:
alist=[56, -4713, "Sahil", "Siddhesh"]

In [24]:
blist=["Pratik", "Chiddya", "Rahil", "funtru", "Akanksha", "Mayuri", "Diksha", 1, 2, 4 , 6, 6, 7, 5, 1, 2]

In [30]:
lst.extend(blist)

In [35]:
lst

[56,
 -4713,
 'Sahil',
 'Siddhesh',
 'Pratik',
 'Chiddya',
 'Rahil',
 'funtru',
 'Akanksha',
 'Mayuri',
 'Diksha',
 1,
 2,
 4,
 6,
 6,
 7,
 5,
 1,
 2,
 'Pratik',
 'Chiddya',
 'Rahil',
 'funtru',
 'Akanksha',
 'Mayuri',
 'Diksha',
 1,
 2,
 4,
 6,
 6,
 7,
 5,
 1,
 2,
 'Pratik',
 'Chiddya',
 'Rahil',
 'funtru',
 'Akanksha',
 'Mayuri',
 'Diksha',
 1,
 2,
 4,
 6,
 6,
 7,
 5,
 1,
 2]

In [53]:
lst=["Pratik", "Chiddya", "Rahil", "funtru", "Akanksha", "Mayuri", "Diksha", 1, 2, 4 , 6, 6, 7, 5, 1, 2]

In [54]:
lst.reverse()

# dict and its default functions

In [70]:
dict={"RAC" : "refrigeration and airconditioning",
     "HP": "hydraulic power", 
      "HT": "heat transfer",
      "TOM": "theory of machines"
     }

In [71]:
dict["HT"]

'heat transfer'

In [73]:
dict.fromkeys("HT")

{'H': None, 'T': None}

In [75]:
dict.get("TOM")

'theory of machines'

In [76]:
dict.items()

dict_items([('RAC', 'refrigeration and airconditioning'), ('HP', 'hydraulic power'), ('HT', 'heat transfer'), ('TOM', 'theory of machines')])

In [77]:
dict.keys()

dict_keys(['RAC', 'HP', 'HT', 'TOM'])

In [79]:
dict.pop("TOM")

'theory of machines'

In [80]:
dict

{'RAC': 'refrigeration and airconditioning',
 'HP': 'hydraulic power',
 'HT': 'heat transfer'}

In [81]:
dict.popitem()

('HT', 'heat transfer')

In [83]:
dict.setdefault("RAC")

'refrigeration and airconditioning'

In [84]:
dict

{'RAC': 'refrigeration and airconditioning', 'HP': 'hydraulic power'}

In [91]:
dict2={"chiddya": "chu"}

In [92]:
dict.update(dict2)

In [93]:
dict

{'RAC': 'refrigeration and airconditioning',
 'HP': 'hydraulic power',
 'chiddya': 'chu'}

In [94]:
dict.values()

dict_values(['refrigeration and airconditioning', 'hydraulic power', 'chu'])

In [98]:
dict["chiddya"]

'chu'

In [99]:
dict3={"shakal": "chiddya"}

In [100]:
dict.update(dict3)

In [101]:
dict["shakal"]

'chiddya'

# sets and its default functions

In [102]:
set=["Pratik", "Chiddya", "Rahil", "funtru", "Akanksha", "Mayuri", "Diksha", 1, 2, 4 , 6, 6, 7, 5, 1, 2]

In [105]:
set.count(2)

2

In [108]:
set.index("Diksha")

6

In [110]:
dict.popitem()

('shakal', 'chiddya')

In [111]:
set.pop()

2

In [112]:
set.reverse()

In [113]:
set

[1,
 5,
 7,
 6,
 6,
 4,
 2,
 1,
 'Diksha',
 'Mayuri',
 'Akanksha',
 'funtru',
 'Rahil',
 'Chiddya',
 'Pratik']

In [120]:
set

[1,
 1,
 2,
 4,
 5,
 6,
 6,
 7,
 'Diksha',
 'Mayuri',
 'Akanksha',
 'funtru',
 'Rahil',
 'Chiddya',
 'Pratik']

In [126]:
set2= ["Archana", "siddhesh"]

In [127]:
set.append(set2)

In [128]:
set

[1,
 1,
 2,
 4,
 5,
 6,
 6,
 7,
 'Diksha',
 'Mayuri',
 'Akanksha',
 'funtru',
 'Rahil',
 'Chiddya',
 'Pratik',
 ['Archana', 'siddhesh']]

In [134]:
set.insert(2, 56)

In [136]:
set.index("Pratik")

15

# sets

In [1]:
st = {1,
 1,
 2,
 4,
 5,
 6,
 6,
 7,
 'Diksha',
 'Mayuri',
 'Akanksha',
 'funtru',
 'Rahil',
 'Chiddya',
 'Pratik',
 'Archana', 'siddhesh'}

In [2]:
st.difference()

{1,
 2,
 4,
 5,
 6,
 7,
 'Akanksha',
 'Archana',
 'Chiddya',
 'Diksha',
 'Mayuri',
 'Pratik',
 'Rahil',
 'funtru',
 'siddhesh'}

In [16]:
st.difference_update()

In [15]:
st.intersection()

{1,
 2,
 4,
 5,
 6,
 'Akanksha',
 'Archana',
 'Chiddya',
 'Diksha',
 'Mayuri',
 'Pratik',
 'Rahil',
 'funtru',
 's',
 'siddhesh'}

In [6]:
st.update()

In [7]:
st.intersection_update()

In [8]:
st.remove(7)

In [9]:
st

{1,
 2,
 4,
 5,
 6,
 'Akanksha',
 'Archana',
 'Chiddya',
 'Diksha',
 'Mayuri',
 'Pratik',
 'Rahil',
 'funtru',
 'siddhesh'}

In [10]:
st.symmetric_difference_update("sahil")

In [11]:
st

{1,
 2,
 4,
 5,
 6,
 'Akanksha',
 'Archana',
 'Chiddya',
 'Diksha',
 'Mayuri',
 'Pratik',
 'Rahil',
 'a',
 'funtru',
 'h',
 'i',
 'l',
 's',
 'siddhesh'}

In [12]:
st.symmetric_difference("Pratik")

{1,
 2,
 4,
 5,
 6,
 'Akanksha',
 'Archana',
 'Chiddya',
 'Diksha',
 'Mayuri',
 'P',
 'Pratik',
 'Rahil',
 'funtru',
 'h',
 'k',
 'l',
 'r',
 's',
 'siddhesh',
 't'}

In [13]:
st.intersection("mike")

{'i'}

# Tuple and default methods

In [21]:
tup= ("Pratik", "1999", "@", "sept.", "1999")

In [22]:
tup

('Pratik', '1999', '@', 'sept.', '1999')

In [23]:
tup.count("1999")

2

In [24]:
tup.index("@")

2

# string and its default methods

In [60]:
a= "Thermodynamics"

In [61]:
a.capitalize()

'Thermodynamics'

In [62]:
a.casefold()

'thermodynamics'

In [63]:
a.center(75)

'                               Thermodynamics                              '

In [64]:
a.count("m")

2

In [65]:
a.endswith("s")

True

In [66]:
a.split()

['Thermodynamics']

In [67]:
a.isalnum()

True

In [68]:
a.expandtabs(75
            )

'Thermodynamics'

In [69]:
a.istitle()

True